.contain {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px #CBD2E1 solid;
  }
  
  .places {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 10px;
    color: #004FB4;
  }